body {
  margin: 0;
}

.contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.boton-lateral {
  width: 50px;
  height: 100px;
  background-color: rgb(4, 87, 123);
}

.boton {
  width: 50px;
  height: 100px;
  border: 1px solid #111;
  text-align: center;
  line-height: 100px;
  background-color: rgb(13, 159, 222);
}
